@page
@model ApplicationClient.Pages.Vente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@if (Model.Ventes != null && Model.Ventes.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Sales Number
                </th>
                <th>
                    Year
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vente in Model.Ventes)
            {
                <tr>
                    <td>
                        @vente.SalesNumber
                    </td>
                    <td>
                        @vente.Year
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@vente.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@vente.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@vente.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available.</p>
}
