@page
@model ApplicationClient.Pages.Vente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url('/images/Consoles_ventes_background/6.jpg');
        background-size: cover;
        background-position: center;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@if (Model.Ventes != null && Model.Ventes.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ventes[0].SalesNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ventes[0].Year)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vente in Model.Ventes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => vente.SalesNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => vente.Year)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@vente.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@vente.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@vente.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available.</p>
}
